
.movie-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.movie-info img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.movie-details {
    flex: 1;
}

.movie-details h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.movie-details p {
    margin: 5px 0;
    color: #666;
}

.movie-details p strong {
    color: #333;
}

.movie-details a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

.movie-details a:hover {
    background-color: #0056b3;
}

.movie-details button {
    display: inline-block;
    padding: 6px 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 1rem;
}

.movie-details button:hover {
    background-color: #218838;
}
